
li{
    list-style: none;
    width: 20%;
    font-variant: small-caps;
    border-left: solid;
    padding: 3px;
}

ul{
    display: flex;
    flex-direction:row;
    -ms-flex-direction: row;
    color: black;
}

nav{
    background: rgb(243, 233, 253);
    width: 100%;
}